.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f4e37;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
}

.headerImage {
    width: 100%;
    object-fit: cover;
}

.header-text {
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    line-height: 0.2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 1200px;
}

.nav-links.active {
    transform: translateX(0);
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: flex-start;
    padding-top: 10px;
    justify-content: flex-start;
}

.nav-links.active .nav-logo {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.nav-links li {
    margin: 15px 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    display: block;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    height: 40px;
    width: auto;
}

.logo {
    width: 60px;
    height: auto;
}

.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.menu-icon .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.nav-links.active .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {

    .header-text {
        font-size: 1rem;
        line-height: 0.5;
        left: 8%;
        top: 62%;
    }

    .menu-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
    }

    .menu-icon {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.active .nav-logo {
        order: -1;
        margin-bottom: 20px;
    }
}