/* MenuVideo.css */
.menu-video-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  
  .menu-video {
    width: 100%;
    height: 72%;
    object-fit: cover;
    z-index: -1;
  }
  
  .video-overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .video-overlay h2 {
    font-size: 3rem;
    margin: 0;
  }
  
  .video-overlay p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  